.muli-light {
    font-family: 'Muli', sans-serif;
    font-weight:300;
}

.muli-reg {
    font-family: 'Muli', sans-serif;
    font-weight:400;
}


.muli-semi-bold {
    font-family: 'Muli', sans-serif;
    font-weight:600;
}

.muli-bold{
    font-family: 'Muli', sans-serif;
    font-weight: 700;
}

.f-24 {
    font-size: 24px;
}

.f-20 {
    font-size: 20px;
}

.f-18 {
    font-size: 18px;
}

.f-16 {
    font-size: 16px;
}

.f-14 {
    font-size: 14px;
}

.f-12 {
    font-size: 12px;
}
