/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import './mixins.scss';
a {
    &:hover {
        text-decoration: none;
    }
}
.preload {
    height:100%;
    width: 100%;
    background: #fff;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 4;
    img {
        margin: auto;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }
}

.border-top {
    height: 10px;
    width:100%;
    background-image: url('/assets/images/border.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}

 p {
     line-height: 25px;
 }
 
 .centered {
     text-align: center;
 }

 .navy {
     color: #222C37
 }

.en {
    background: image-url('/assets/images/Icon_EN.png');
    background-size: 19px;
    background-position: -1px 8px;
    background-repeat: no-repeat;

}
.id { 
    background: image-url('/assets/images/Icon_ID.png');
    background-size: 19px;
    background-position: -1px 8px;
    background-repeat: no-repeat;
}

.enDR {
    background: image-url('/assets/images/Icon_EN.png');
    background-size: 19px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    &:hover {
        background-color: #f6e204;
    }
}

.idDR {
    background: image-url('/assets/images/Icon_ID.png');
    background-size: 19px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    &:hover {
        background-color: #f6e204;
    }
}

#navbarDropdown {
    height: 100%;
   
}

.dropdown-menu {
    min-width: 60px;
}


 .border-yellow {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 3px;
    margin-bottom: 25px;
    display: block;
    background-color: #fe3;

    &.no-center {
        margin-left: 0px;
        margin-right: 0px;
    }
 }

 .img-responsive {
     width:100%;
 }
 .section-title {
    margin-bottom: 10px;
    color: #198dff;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 20px;
 }

 .section-subtitle {
    font-family: 'Muli', sans-serif;
    font-size: 34px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    font-weight: 300;
 }


.top-header {
    background-color: #fe3;
    width: 100%;
    padding: 5px 0 5px 0;
    z-index: 1;
    .col-lg-8 {
        padding-top: 3px;
    }
    .socmed {
        i {
            font-size: 23px;
        }
    }
    .dropdown-toggle::after {
        display:none !important;
    }
    @include mobile-device-screen { 
		display: none;
	}
    li {
        color: #335578;
        font-family: 'Muli', sans-serif;
        display: inline;
        font-size: 14px;
        font-weight: bold;
        margin-right:20px;
    }
    a {
        font-family: 'Muli', sans-serif;
        color: #335578;
    }
}
.navbar-nav {
    flex-direction: row;
}
.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    font-weight: bolder;
}
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}
header {
    background-color:#fff;
    padding-top: 30px;
    .nav-item {
        .nav-link {
            font-family: 'Muli', sans-serif;
            color: #000 !important;
        }
    }

    .navbar-toggler {
        display: none;
        @include mobile-device-screen { 
            display: inline;
        }
    }
    .navbar-brand {
        img {
            width: 180px;
        }
    }
    
}

.jumbotron {

    border-radius:0px;
    color:#000;
    padding-top: 25px;
    padding-bottom: 150px;
    position: relative;
    background-color:#fff;
    @include mobile-device-screen {
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .is-mobile {
        height: 230px;
    }
    .illus-a {
        width: 62%;
        display: block;
        position: absolute;
        left: 30%;
        @include mobile-device-screen {
            left: 16%;
        }

    }

    .illus-b {
        width: 51%;
        position: absolute;
        left: 22%;
        @include mobile-device-screen {
            left: 16%;
        }
    }

    h1 {
        font-size: 45px;
        margin: 30px 0 30px 0;
        line-height: 55px;
        font-weight: 400;
        @include mobile-device-screen {
            font-size: 35px;
            margin: 30px 0 10px 0;
        }
    }
    p {
        line-height: 30px;
    }

    .jumb-btn {
        padding: 18px 35px;
        font-size: 18px;
        display: block;
        border-radius:3px;
        width: 180px;
        margin-top: 30px;
    }
    .scroll {
        background-image: url("/assets/images/icon-scroll.png");
        height: 44px;
        width: 30px;
        margin: auto;  
    }

}

//service

.service {
    padding-top: 20px;
    h3 {
        font-size:25px;
        font-size: 20px;
        color: #198dff;
        margin-bottom: 20px;
    }
    h4 {
        font-size: 30px;
        color: #000;
        letter-spacing: normal;
        line-height: 45px;
        font-family: 'Muli', sans-serif;
        font-weight:300;
        margin-bottom: 35px;
        @include mobile-device-screen {
            font-size: 25px;
        }
    }
    .col-lg-6 {
        position: relative;
        .service-img {
            height: 400px;
            position: relative;
        }
    }
    .illus-2a {
        position: absolute;
        width: 72%;
    }
    .illus-2b {
        position: absolute;
        width: 62%;
        bottom: 0%;
        right: 29%;
    }
    .list {
        margin-bottom: 35px;
        .icons {
            width:45px;
            height: 45px;
            margin-bottom: 15px;
            &.ux {
                background-image: url("/assets/images/icon-ux.png");
                background-size: 100%;
            }
            &.web {
                background-image: url("/assets/images/icon-webx.png");
                background-size: 100%;
            }
            &.mobile {
                background-image: url("/assets/images/icon-mobile.png");
                background-size: 100%;
            }
        }
        h2 {
            font-family: 'Muli', sans-serif;
            font-weight:600;
            font-size: 22px;
            margin-bottom: 15px;
        }
        p {
            font-size: 18px;
            font-family: 'Muli', sans-serif;
            font-weight:300;
        }
    }

}

.benefits {
    // background-color: #e2f3ff;
    padding-top: 115px;
    padding-bottom: 45px;
    @include mobile-device-screen {
        padding-top: 10px;
    }
    .border-box {
        width: 90%;
        height: 642px; 
        background-image: image-url('/assets/images/border-bg.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: auto;
        @include mobile-device-screen {
            background-size: cover;
        }
    }
    .left {
        width: 50%;
        padding-left: 55px;
        padding-top: 50px;
        @include mobile-device-screen {
            width: 100%;
            padding-left: 35px;
            padding-top: 50px;
        }
        .border-pink {
            width: 60px;
            border: solid 2px #ff4ab5;
            border-radius:20px;
            margin-bottom: 30px;
        }
        .section-subtitle {
            text-align: left;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            font-weight: 300;
            font-family: 'Muli', sans-serif;
            margin-top: 45px;
            width: 90%;
            @include mobile-device-screen {
                margin-top: 20px;
            }
        }
    }
    .right {
        width:50%;
        position: relative;
        height: 600px;
        .illus-3a {
            position: absolute;
            width: 84%;
            bottom:10%; 
        }
        .illus-3b {
            position: absolute;
            width: 70%;
            bottom: 10%;
            left: -6%;
        }
    }
    
}

.clients {
    padding:45px 0 45px 0;
    position: relative;
    .img-responsive {
        width: 85%;
        @include mobile-device-screen {
            margin: auto;
            display: block;
            width: 50%;
        }
    }
    .col-lg-2 {
        @include mobile-device-screen {
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }
    .section-subtitle {
        margin-bottom: 60px;
        @include mobile-device-screen {
            margin-bottom: 0px;
        }
    }
    img {
        height: 100%;
        object-fit:contain;
    }
    .fill1 {
        background: image-url('/assets/images/illus-samping.png');
        position: absolute;
        left: -15px;
        top: -160px;
        height: 384px;
        width: 100px;
        background-size:cover;
        @include mobile-device-screen {
            display: none;
        }
    }
}

.case {
    padding:45px 0 45px 0;
    .row {
        display: flex;
    }
    .col-lg-6 {
        position: relative;
        overflow: hidden;
        border-radius:3px;
        margin-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
        width: 45%;
        max-width: 47%;
        &:first-child {
            margin-right: 6%;
        }
        @include mobile-device-screen {
            width: 96%;
            max-width: 92%;
            margin-left: 4%;
            margin-right: 4%;
            &:first-child {
                margin-right: 2%;
            }
           
        }
    }
    .image {
        display: block;
        width: 100%;
        height: auto;
        border-radius:3px;
        height: 100%;
      }
      
      .overlay-1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #059DFF;
      }

      .overlay-2 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color:  #21C7B8;
      }
      
      .case1:hover .overlay-1 {
        opacity: 1;
        cursor: pointer;
      }

      .case2:hover .overlay-2 {
        opacity: 1;
        cursor: pointer;
      }
      
      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        font-family: 'Muli', sans-serif;
        font-weight: 500;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
}
.team {
    padding:115px 0 45px 0;
    position: relative;
    @include mobile-device-screen {
        padding:20px 0 45px 0;
        border-bottom:1px solid rgba(0,0,0,0.3);  
    }
    .col-lg-3 {
        @include mobile-device-screen {
            margin-bottom: 30px;
        }
    }
    img {
        margin: auto;
        display: block;
    }
    .name {
        font-size:22px;
        text-align:center;
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        display: block;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .title {
        font-size:16px;
        font-family: 'Muli', sans-serif;
        text-align:center;
        display: block;
    }
    .section-subtitle {
        margin-bottom: 60px;
    }
    .img-responsive {
        width: 85%;
        @include mobile-device-screen {
            width: 55%;
        }
    }
    .fill2 {
        background: image-url('/assets/images/illus-sampingkanan@2x.png');
        position: absolute;
        right:0px;
        bottom: -250px;
        height: 496px;
        width: 160px;
        background-size:cover;
        @include mobile-device-screen {
            display: none;
        }
    }
}

// footer

#appCaseModal {
    img {
        border-radius:3px;
    }
    .modal-dialog {
        max-width: 900px;

    }
    .modal-body {
        padding: 0px;
    }
    @include mobile-device-screen {
        margin-left: 4%;
        margin-right: 4%;
    }
}

#webCaseModal {
    img {
        border-radius:3px;
    }
    .modal-dialog {
        max-width: 900px;

    }
    .modal-body {
        padding: 0px;
    }
    @include mobile-device-screen {
        margin-left: 4%;
        margin-right: 4%;
    }
}
footer {
    p {
        font-size: 13px;
        width: 85%;
    }
    ul {
        margin-top: 30px;
    }
    li {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .top {
        padding:30px 0 30px 0;
        .col-lg-3 {
            padding-top: 70px;
            @include mobile-device-screen {
                padding-top: 30px;
            }
        }
        .jumb-btn {
            padding: 18px 35px;
            font-size: 16px;
            display: block;
            border-radius: 3px;
            margin-top: 30px;
            width: 205px;
            margin-bottom: 28px;
            color: #fff;
            
        }
        h3 {
            margin-bottom: 20px;
            margin-top: 18px;
            font-size: 34px;
            line-height: 39px;
        }

        a {
            font-weight: 300;
            color: #000;
            font-family: 'Muli', sans-serif;
            font-size: 16px;
            &:hover {
                color: #3645BF;
            
            }
        }
    }

    
    .btm {
        color: #000;
        padding-top: 15px;
        padding-left:0px;
        padding-right: 0px;
        font-size: 13px;
        border-top:1px solid rgba(0, 0, 0, 0.3);
        font-family: 'Muli', sans-serif;
        margin-left: 0px;
        margin-right: 0px;
        .col-lg-6 {
            padding-left:0px;
            padding-right: 0px;
        }
        a {
            color: #000;
            font-weight: bolder;
            font-family: 'Muli', sans-serif;
        }
        ul {
            float: right;
            margin-top: 10px;
            @include mobile-device-screen {
                float: left;
            }
            li {
                display: inline-block;
                margin-left: 10px;
                font-family: 'Muli', sans-serif;

            }
        }
        .icons {
            height: 32px;
            width:32px;
            display: block;
            
            &.fb {
                background: image-url('/assets/images/fb@2x.png');
                background-size: 100%;
            }
            &.ig {
                background: image-url('/assets/images/ig@2x.png');
                background-size: 100%;
            }
            &.in {
                background: image-url('/assets/images/linkedin@2x.png');
                background-size: 100%;
            }
        }
        .footer-logo {
            display:block;
            margin-right: 25px;
            width: 150px;
            float: left;
        }
        h3 {
            line-height: 55px;
            display: block;
            float: left;
        }
    }
    
    .fab {
        font-size: 30px;
        display: inline-block;
        margin-right: 10px;
    }
}
//button
.btn-grad-blue {
    width: 157px;
    height: 55px;
    border-radius: 3px;
    background-image: linear-gradient(to left, #3e7dff, #01d7ff);
    color: #fff;
    border:none;
}

// borders

.border-red {
    border:1px solid red;
}


// padding

.no-padding {
    padding: 0px;
}

.pl-0 {
    padding-left:0px;
}

.pr-0 {
    padding-right:0px;
}

// forms 

.form-style-8{
    font-family: 'Muli', sans-serif;
    background: #FFFFFF;
    margin: 50px auto;
    

}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{

    background-color: #fe3;
    border: 1px solid #f6e204;
    display: inline-block;
    cursor: pointer;
    color: #121921;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

//mobile

.is-mobile {
    display: none;
    @include mobile-device-screen { 
        display: block;
    }
}


.is-desktop {
    display: block;
    @include mobile-device-screen { 
        display: none;
    }
}


