<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DevHouse | Web & Mobile Apps Developer</title>
    <link rel="shortcut icon" href="assets/images/icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/font.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/maintenance.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/masonry.css" />
    <link rel="stylesheet" type="text/css" href="/foundation-icons/foundation-icons.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <script>
       window.addEventListener("load",function(){
         var load_screen = document.getElementById("preload");
         document.body.removeChild(load_screen) 
       }) 
    </script>
</head>
    <body>

    <div class="preload" id="preload">
        <img class="img-fluid centered" src="/assets/images/load.gif" />
    </div>
    <div class="border-top"></div>
    <div class="container-fluid">
      <div class="row intro">
        <div class="col-md-6 col-sm-8 intro-left"> 
          <div class="intro-left-content">
            <p> <img src="assets/images/new_logo.png" style="width:50%; margin-bottom:25px;" alt="DevHouse ID Logo"></p>
            <h1 class="opensans-bold">Under construction at the moment..</h1>
            <p class="lead">Helo there! We'll be back soon before you know it. Meanwhile you can stay connected with us through our social media channel or email<!-- write down your e-mail below and we'll let you know the updates-->.</p>
            <p class="social">
                <a href="http://www.linkedin.com/company/devhouseid" title="" class="external linkedin"> <img src="assets/images/linkedin@2x.png" style="width:100%;" alt="LINKEDIN"></a>
                <a href="http://www.facebook.com/devhouseid" class="external facebook"><img src="assets/images/fb@2x.png" style="width:100%;" alt="FB"></a>
                <a href="http://www.instagram.com/devhouseid" title="" class="external instagram"><img src="assets/images/ig@2x.png" style="width:100%;" alt="IG"></a>
                <a  href="mailto:fadil.nylon@gmail.com?Subject=Hello%20DevHouseID" target="_top" class="email"><img src="assets/images/email_icon.png" style="width:100%;"></a>
            </p>
            <p class="credit">&copy; 2018 DevHouse ID</p>
        
          </div>
        </div>
        <div style="background-image: url('assets/images/scnd-image.png');" class="col-md-6 col-sm-4 intro-right background-gray"></div>
      </div>
    </div>
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"> </script>
    <script src="js/front.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
    <!---->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>