<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Developer Agency, Web Developer, Mobile Apps Developer Jakarta, Design UI&UX, web agency, web design, web design jakarta, website design, web designer, website designer, Mobile Apps Developement, Website Developement">
    <meta name="description" content="DevHouse ID is developers agency focus on UI & UX , Website and Mobile Apps. Our house  located on Apartment semanggi Central Jakarta . 
    ">
    <title>DevHouse | Web & Mobile Apps Developer</title>
    <link rel="shortcut icon" href="assets/images/icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/font.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/foundation-icons/foundation-icons.css" />
    <script>
       window.addEventListener("load",function(){
         var load_screen = document.getElementById("preload");
         document.body.removeChild(load_screen) 
       }) 
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W5X7FK2');</script>
    <!-- End Google Tag Manager -->
</head>
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5X7FK2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="preload" id="preload">
        <img class="img-fluid centered" src="/assets/images/load.gif" />
    </div>
                    
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul>
                        <li><a href="tel:+6281295009910"><i class="step fi-telephone size-36"></i> +62812-9500-9910</a></li>
                        <li><a href="mailto:fadil.nylon@gmail.com?Subject=Hello%20DevHouseID"><i class="step fi-mail size-36"></i> devhouseid99@gmail.com</a></li>
                        <li><a href="#"  data-toggle="modal" data-target="#exampleModal">Need Quotation ?<i style="color:#FF6510" class="fas fa-question-circle"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-4 socmed">
                    <ul style="float:right;">
                        <li><a href="http://www.facebook.com/devhouse.id"><i class="step fi-social-facebook size-48"></i></a></li>
                        <li><a href="http://www.instagram.com/devhouse.id"><i class="step fi-social-instagram size-48"></i></a></li>
                        <li><a href="http://www.linkedin.com/company/devhouseid"><i class="step fi-social-linkedin size-48"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>   
    <header>
       
        <nav class="navbar container navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="/assets/images/new_logo.png" alt="devHouse ID Logo">
            </a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mobileNavBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <img src="/assets/images/list.png">
                </span>
            </button>
            
            <div class="collapse navbar-collapse" id="mobileNavBar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#whyus">Why Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/maintenance">Our Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/maintenance">Our Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown" style="width: 19px;padding: ;margin-left: 15px;">
                        <a class="nav-link en" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item enDR muli-semi-bold" href="#">en</a>
                            <a class="dropdown-item idDR muli-semi-bold" href="#">id</a>
                        </div>
                    </li>
                </ul>
            </div>
            

        </nav>
        
    </header>
    
<!-- Quotation Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header" style="background-color:#fe3; color:#335578">
            <h5 class="modal-title opensans-bold muli-semi-bold" id="exampleModalLabel">Hola! you can tell us what you need</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="">
            <div class="modal-body">
            
                    <div class="form-group">
                        <label for="category " class="opensans-bold mb-2 muli-light">Choose Category</label>
                        <select class="form-control opensans-reg muli-light" id="category">
                            <option>Mobile Apps</option>
                            <option>Web Apps</option>
                            <option>E-commerce</option>
                            <option>Others</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="detail"  class="opensans-bold mb-2 muli-light">This quotation for ?</label>
                        <textarea class="form-control opensans-reg" id="detail" rows="3"></textarea>
                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary muli-bold btn-grad-blue " data-dismiss="modal">Send</button>
            </div>
        </form>
        </div>
    </div>
</div>
